html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #D4D4D4;
    margin:0;
    padding: 0;
    font-size: 0em;
}
#nav{
    background-color: #C8C8C8;
    border-right: 2px solid #BCBCBC;
    height: 100%;
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
}
nav{
    background-color: #C8C8C8;
    height: 100%;
    width: 100%;
    display: inline-block;
    font-size: 0em;
}
.liste {
    width:100%;
    padding: 2%;
    margin-top: 1%;
    display: block;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}
.liste > p{
    cursor:  pointer;
    display: inline-block;
    font-size: 1rem;
}
.liste > button{
    display: inline-block;
    float: right;
    margin-right: 2%;
    font-size: 1rem;
}
nav > input{
    width: 70%;
    font-size: 0.8rem;
    display: inline-block;
}
nav > #ajouter{
    width: 26%;
    font-size: 0.8rem;
    display: inline-block;
}
#content{
    display: inline-block;
    vertical-align: top;
    font-size: 0em;
    width: 80%;
}
.todo{
    font-size: 1rem;
    background-color: cornflowerblue;
    width: 90%;
    border-top: 2px solid #6B9CF4;
    border-left: 2px solid #6B9CF4;
    border-right: 2px solid #5D82C5;
    border-bottom: 2px solid #5D82C5;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1em;
    border-radius: 3px;
}


h1{
    margin:0;
    color: white;
    padding: 2%;
    background-image: url("images/original/texturebg.png");
    width:100%;
    font-size: 1.5rem;
    height: 1em;
}
.delete{
    float: right;
    border: none;
    background-color: inherit;
    color: #EFEFEF;
    font-weight: bold;
}
.delete:hover{
    color: #000000;
}
.todo > input[type="text"]{
    padding: 1%;
    width: 50%;
    background-color: #6B9CF4;
    border-radius: 2px;
    border: 2px solid #5D82C5;
}
.todo > button{
    padding: 1%;
    box-sizing : border-box;
}