<!DOCTYPE html>
<html lang='fr'>
<head>
	<meta charset='utf-8'>
	<title>PhotoLocate accueil</title>
	<link rel="stylesheet" type="text/css" href="leaflet.css">
	<LINK REL="StyleSheet" TYPE="text/css" HREF="../server/css/css/materialize.css">


</head>
	
<body ng-app='app'>
	<nav>
		<div class="nav-wrapper"><a>PhotoLocate</a></div>
	</nav>
	
	<div class="container">
		<div  class="row" ng-controller='partycontroller' >

			<div class="accNav col s12 m6 l6">
				<div class="material-placeholder" style="">
					<div ng-click="game()">
						<img src="images/original/game.png"  style="height: 300px; width: 100%;" >
						<h5>Nouvelle partie</h5>
					</div>
				</div>
			</div>

			<div class="accNav col s12 m6 l6">
				<div class="material-placeholder" style="">
					<div ng-click="topScore()">
						<img src="images/original/podium.jpg" style="height: 300px; width: 100%;" >
						<h5>Consulter les scores</h5>
					</div>
				</div>
			</div>

			<party class="col s12 hide " />
		</div>


		</div>
		<div class="row">
			<div ng-controller='scorecontroller' >
				<score class="col s6 ng-hide" />
			</div>

			<div  ng-controller='chronocontroller' >
				<chrono class="col s6 ng-hide" />
			</div>
		</div>
		
		<div class="row">
			<div ng-controller='mapcontroller'>
				<map class="col s12 " />
			</div>

			<div ng-controller='photocontroller'>
				<photo class="col s8 "/>
			</div>
		</div>

	</div>
</body>
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script src='lib/jquery-2.1.4.min.js'></script>
	<script src='../server/css/js/materialize.min.js'></script>
	<script type="text/javascript">
	
		$(document).ready(function(){
			$(".button-collapse").sideNav();
			$("select").material_select();
			$("select").material_select('destroy');
		});

	</script>
	<script src='lib/angular.min.js'></script>
	<script src="lib/angular-leaflet-directive.min.js"></script>

	<script src='app/app.js'></script>
	
	<script src='app/party/party.js'></script>
	<script src='app/party/party_controller.js'></script>
	<script src='app/party/party_directive.js'></script>

	<script src='app/chrono/chrono.js'></script>
	<script src='app/chrono/chrono_controller.js'></script>
	<script src='app/chrono/chrono_directive.js'></script>

	<script src='app/score/score.js'></script>
	<script src='app/score/score_controller.js'></script>
	<script src='app/score/score_directive.js'></script>

	<script src='app/photo/photo.js'></script>
	<script src='app/photo/photo_controller.js'></script>
	<script src='app/photo/photo_directive.js'></script>

	<script src='app/map/map.js'></script>
	<script src='app/map/map_controller.js'></script>
	<script src='app/map/map_directive.js'></script>
</html>
