<!DOCTYPE html>
<head>
	 <title>Accueil</title> 
	<LINK REL="StyleSheet" TYPE="text/css" HREF="../../css/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<html>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Photolocate Admin</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{urlphoto}}">Ajouter des photos</a></li>
          <li><a href="{{urlserie}}">Ajouter une serie</a></li>
          <li><a href="{{photoNonValide}}">Valider les photos</a></li>
          <li><a href="{{urllogout}}"><i class="large material-icons">power_settings_new</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{urlphoto}}">Ajouter des photos</a></li>
          <li><a href="{{urlserie}}">Ajouter une serie</a></li>
          <li><a href="{{photoNonValide}}">Valider les photos</a></li>
          <li><a href="{{urllogout}}">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h2>Bienvenue {{name}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
          <div class="material-placeholder" style="">
            <a href="{{urlphoto}}"> <img class="materialboxed" src="http://s27.postimg.org/xtrx8jjf7/dlsuhackercup.jpg" data-caption="The 100" style="height: 300px; width: 100%;"></a>
            <h5 class="center">Ajouter des photos</h5>
          </div>
      </div>
      <div class="col s12 m4 l4">
          <div class="material-placeholder" style="">
            <a href="{{urlserie}}"> <img class="materialboxed" src="http://s27.postimg.org/xtrx8jjf7/dlsuhackercup.jpg" data-caption="The 100" style="height: 300px; width: 100%;"></a>
            <h5 class="center">Ajouter une serie</h5>
          </div>
      </div>
      <div class="col s12 m4 l4">
          <div class="material-placeholder" style="">
            <a href="{{photoNonValide}}"> <img class="materialboxed" src="http://s27.postimg.org/xtrx8jjf7/dlsuhackercup.jpg" data-caption="The 100" style="height: 300px; width: 100%;"></a>
            <h5 class="center">Valider les nouvelles photos</h5>
          </div>
      </div>
    </div>
  </div>

	
   <!-- Obtain latest version of jquery from CDN -->
    <script src="../../css/js/jquery-2.1.4.min.js"></script>
      <!-- jQuery must be imported before materialize -->
    <script src="../../css/js/materialize.min.js"></script>
    <script>
       $(document).ready(function(){
         // Activate the side menu 
         $(".button-collapse").sideNav();
        });
    </script>
</body>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">Atelier 2</a>
    </div>
  </div>
</footer>
</html>