<!DOCTYPE html>
<head>
	 <title>Ajout de photo</title> 
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<LINK REL="StyleSheet" TYPE="text/css" HREF="../../css/css/materialize.css">
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<html>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="{{accueil}}" class="brand-logo">Photolocate Admin</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{urlphoto}}">Ajouter des photos</a></li>
          <li><a href="{{urlserie}}">Ajouter une serie</a></li>
          <li><a href="{{photoNonValide}}">Valider les photos</a></li>
          <li><a href="{{urllogout}}"><i class="large material-icons">power_settings_new</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{urlphoto}}">Ajouter des photos</a></li>
          <li><a href="{{urlserie}}">Ajouter une serie</a></li>
          <li><a href="{{photoNonValide}}">Valider les photos</a></li>
          <li><a href="{{urllogout}}">Logout</a></li>
      </ul>
    </div>
  </nav>
    <div class="row">
	  	<div class="col s9">
	 		<div class="col s5 offset-s5">
		            {% if error == "Le fichier à bien été ajouté!" %}
	   				<nav>
	   					<div class="nav-wrapper green">
	   						<div class="col s12 ">
	   							<h4>{{error}}</h4>
	   						</div>
	   					</div>
	   				</nav>
	   				{% elseif error == "Le fichier n'a pas l'extension attendue!"%}
	   				<nav>
	   					<div class="nav-wrapper red">
	   					<div class="col s12 ">
	   						<h5>{{error}}</h5>
	   						</div>
	   					</div>
	   				</nav>
					{% endif %}
	  			
	  		</div>
	  	</div>
	</div>


	<div class="container">
    	<div class="row">
    		<div class="col s12 center">
    			<h1>{{title}}</h1>
    		</div>
    	</div>
    	<div class="row">
	        <div class="row">
	        	<form action="upload" method="post" enctype="multipart/form-data">
	        	<div class="col s12 center">
		        	<div class="row">
			        	<div class="input-field col s12">
			        		<h5>Description:</h5>
	          				<input type="text" name="description" placeholder="Exemple" required>
				        </div>
			        </div>

			        <div class="row">
			        	<div class="input-field col s12">
			        		<p class="flow-text">Selectionnez la série à laquelle vous souhaitez ajouter la photo</p>

							<select class='dropdown-button btn' id="select" onchange="clickp()" name="ville" style="display: block;" required>
								<option value="" selected>Selectionnez une serie</option>
								{% for ville in serie %}
						        <option value="{{ville}}">{{ville}}</option>
						    	{% endfor %}
							</select>
				        </div>
			        </div>

			        <div class="row">
			        	<div class="input-field col s12">
			        		<p class="flow-text">Cliquez sur la carte pour placer votre photo:</p>
     						<div id="map" style="height: 600px; width: 100%;"></div>
				        </div>
			        </div>
					
					<div class="row">
			        	<div class="input-field col s12">
			        		<div class="file-field input-field">
						        <div class="btn">
							        <span>Selectionnez un fichier</span>
							        <input type="file" name="photo" id="photo" required>
						        </div>
						        <div class="file-path-wrapper">
						        	<input class="file-path validate" type="text">
						        </div>
						    </div>
				        </div>
			        </div>
					
					<div class="row">
						<div class="col s2">
							<input  class="btn " type="submit" value="Uploader le fichier">
						</div>
					</div>
				</div>
				</form>
				<p>{{error}}</p>
			</div>
    	</div>
    </div>

	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

	<script>
	  		var map = L.map('map').setView([48.84, 2.30], 5);
			L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
				maxZoom: 18,
				attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
					'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
					'Imagery © <a href="http://mapbox.com">Mapbox</a>',
				id: 'mapbox.streets'
			}).addTo(map);
			var popup = L.popup();
			function onMapClick(e) {
				popup
					.setLatLng(e.latlng)
					.setContent("Les coordonnées selectionné sont: " + e.latlng.toString())
					.openOn(map);
				document.cookie="latlngphoto="+e.latlng+"; path=/;";
			}
			map.on('click', onMapClick);
	function clickp(){
	  var oSelect = document.getElementById("select");
	  var select=oSelect.value.split(" ");

	  	if ((map === undefined)){
	  		console.log("undefined");
	  	}
	  	else {
	  		map.setView([select[1], select[2]], 12);
	  	}
	}


	

	</script>
	<!-- Obtain latest version of jquery from CDN -->
	<script src="../../css/js/jquery-2.1.4.min.js"></script>
	  <!-- jQuery must be imported before materialize -->
	<script src="../../css/js/materialize.min.js"></script>
	<script>
		 $(document).ready(function(){
		   // Activate the side menu 
		   $(".button-collapse").sideNav();
		   $('select').material_select();
		   $('select').material_select('destroy');
		  });
	</script>
</body>

	<footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">Atelier 2</a>
        </div>
      </div>
    </footer>
</html>