<!DOCTYPE html>
<head>
	 <title>Ajout de serie</title> 
	<LINK REL="StyleSheet" TYPE="text/css" HREF="../../css/css/materialize.css">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<html>
<body>

    <nav>
    <div class="nav-wrapper">
      <a href="{{accueil}}" class="brand-logo">Photolocate Admin</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{urlphoto}}">Ajouter des photos</a></li>
          <li><a href="{{urlserie}}">Ajouter une serie</a></li>
          <li><a href="{{photoNonValide}}">Valider les photos</a></li>
          <li><a href="{{urllogout}}"><i class="large material-icons">power_settings_new</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{urlphoto}}">Ajouter des photos</a></li>
          <li><a href="{{urlserie}}">Ajouter une serie</a></li>
          <li><a href="{{photoNonValide}}">Valider les photos</a></li>
          <li><a href="{{urllogout}}">Logout</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
    	<div class="row">
    		<div class="col s12 center">
    			<h1>{{title}}</h1>
    		</div>
    			<div class="col s12 center">
	            {% if error == "La série existe déjà!" %}
   				<nav>
   					<div class="nav-wrapper red">
   						<div class="col s12 ">
   							<h4>{{error}}</h4>
   						</div>
   					</div>
   				</nav>
   				{% elseif error is not empty %}
   				<nav>
   					<div class="nav-wrapper green">
   					<div class="col s12 ">
   						<h5>{{error}}</h5>
   						</div>
   					</div>
   				</nav>
				{% endif %}
			</div>
    	</div>
    	<div class="row">
	        <div class="row">
	        	<form action="create" method="post" enctype="multipart/form-data">
	        	<div class="col s12 center">
		        	<div class="row">
			        	<div class="input-field col s12">
			        		<h5>Nom de la serie :</h5>
				          	<input id="email" type="text" class="validate" name="nom" placeholder="Exemple">
				        </div>
			        </div>
					
					
				    <div class="row">
				    	<div class="col s12">
				    		<div id="map" style="height: 600px; width: 100%;"></div>
				    	</div>
				    </div>

					
					<div class="row">
						<div class="col s2">
							<input class="waves-effect waves-light btn"  type="submit" value="Créé la serie">
						</div>
					</div>
				</div>
				</form>
			</div>
		
			<div class="row">
				<div class="col s12">
				 	<h3>Serie éxistante:</h3>
					{% for ville in serie %}
				        <h5>{{ville}}</h5>
				    {% endfor %}
			    </div>
			</div>
    	</div>
    </div>
    
        
	
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script>

		var map = L.map('map').setView([48.84, 2.30], 5);

		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'mapbox.streets'
		}).addTo(map);
		var popup = L.popup();
		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("Les coordonnées selectionné sont: " + e.latlng.toString())
				.openOn(map);
			document.cookie="latlngserie="+e.latlng+"; path=/;";
		}
		map.on('click', onMapClick);

	</script>
	<!-- Obtain latest version of jquery from CDN -->
	<script src="../../css/js/jquery-2.1.4.min.js"></script>
	  <!-- jQuery must be imported before materialize -->
	<script src="../../css/js/materialize.min.js"></script>
	<script>
		 $(document).ready(function(){
		   // Activate the side menu 
		   $(".button-collapse").sideNav();
		  });
	</script>

</body>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">Atelier 2</a>
        </div>
      </div>
    </footer>

</html>