<!DOCTYPE html>
<head>
	 <title>Login</title> 
		<LINK REL="StyleSheet" TYPE="text/css" HREF="../../css/css/materialize.css">
</head>
<html>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{title}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>
  <div class="container">
	  <div class="row">
		  <div class="col s12 center">
			<form action="login" method="post">
			{% if error is not empty %}
   				<nav>
   					<div class="nav-wrapper red">
   						<h4>{{error}}</h4>
   					</div>
   				</nav>
			{% endif %}
			<p class="flow-text">Pour continuer, veuillez saisir votre identifiant et votre mot de passe !</p>
			<p>{{id}}</p> <input type="text" name="id" required><br>
			<p>{{mdp}}</p> <input type="password" name="password" required>
			<input class="btn" type="submit" value="Connexion">
			</form> 
		</div>
	</div>
</div>
</body>
</html>
