<!DOCTYPE html>
<head>
	 <title>Accueil</title> 
	<LINK REL="StyleSheet" TYPE="text/css" HREF="../../server/css/css/materialize.css">
		<LINK REL="StyleSheet" TYPE="text/css" HREF="../../css/css/materialize.css">

</head>
<html>
<body>
 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Accueil Photolocate Admin</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="{{urllogin}}">Login</a></li>
		<li><a href="{{urlsubscribe}}">S'inscrire</a></li>
      </ul>
    </div>
  </nav>
  <p class="flow-text">Pour continuer, Veuillez vous connecter ou vous inscrire!</p>


</body>
</html>