<!DOCTYPE html>
<head>
	 <title>Inscription</title> 
		<LINK REL="StyleSheet" TYPE="text/css" HREF="../../css/css/materialize.css">

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<html>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{title}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      		 <li><a href="{{urllogin}}">Login</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
	  <div class="row">
		  <div class="col s12 center">
		  {% if error == "Les mots de passe ne sont pas identiques!" %}
   				<nav>
   					<div class="nav-wrapper red">
   						<div class="col s12 ">
   							<h4>{{error}}</h4>
   						</div>
   					</div>
   				</nav>
   			{% elseif error == "Le nom d'utilisateur est deja prit!" %}
   				<nav>
   					<div class="nav-wrapper red">
   						<div class="col s12 ">
   							<h4>{{error}}</h4>
   						</div>
   					</div>
   				</nav>
		  {% elseif error is not empty %}
   				<nav>
   					<div class="nav-wrapper green">
   						<h4>{{error}}</h4>
   					</div>
   				</nav>
			{% endif %}
	<p class="flow-text">Remplissez ce formulaire pour vous inscrire.</p>
    <form action="signup" method="post">
           <p>Nom:</p>
            <input type="text" name="nom" placeholder="Entrez votre nom" required>
           <p>Prenom:</p>
            <input type="text" name="prenom" placeholder="Entrez votre prenom" required>
            <p>Email:</p>
            <input type="email" name="email" placeholder="Entrez votre email" required>
            <p>Mot de passe:</p>
            <input type="password" name="password" required >
            <p>Confirmation mot de passe:</p>
            <input type="password" name="password-confirmation" required>
            <p>Username:</p>
            <input type="text" name="username" placeholder="Entrez votre pseudo" required>
        <input class="btn" type="submit" value="S'inscrire" id="form-action" name="form-action">    
    </form>    
  	  </div>
    </div>
  </div>
</body>
</html>