<!DOCTYPE html>
<head>
	 <title>Ajout de serie</title> 
	<LINK REL="StyleSheet" TYPE="text/css" HREF="../../css/css/materialize.css">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<html>
<body>

    <nav>
    <div class="nav-wrapper">
      <a href="{{accueil}}" class="brand-logo">Photolocate Admin</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{urlphoto}}">Ajouter des photos</a></li>
          <li><a href="{{urlserie}}">Ajouter une serie</a></li>
          <li><a href="{{urlserie}}">Valider les photos</a></li>
          <li><a href="{{urllogout}}"><i class="large material-icons">power_settings_new</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{urlphoto}}">Ajouter des photos</a></li>
          <li><a href="{{urlserie}}">Ajouter une serie</a></li>
          <li><a href="{{urlserie}}">Valider les photos</a></li>
          <li><a href="{{urllogout}}">Logout</a></li>
      </ul>
    </div>
  </nav>

    <div class="container">
    	<div class="row">
    		<div class="col s12 center">
    			<h1>{{title}}</h1>
    		</div>
    	</div>
    	<div class="row">
	        <div class="row">
	        	<div class="col s6 offset-s3">
		        	{% for it in photos %}
			        	<div class="row">
				        	<div class="card">
					            <div class="card-image">
					              <img src="../../{{it.url}}">
					            </div>
					            <div class="card-content">
					              <p>{{it.description}} | Lattitude:{{it.lat}} | Longitude:{{it.lon}}</p>
					            </div>
					            <div class="card-action">
					              <a href="{{rootUri}}/validerPhoto/{{it.id}}">Valider</a>
					              <a href="{{rootUri}}/refuserPhoto/{{it.id}}">Refuser</a>
					            </div>
					        </div>
				        </div>
				    {% endfor %}
				</div>
			</div>
    	</div>
    </div>

	<!-- Obtain latest version of jquery from CDN -->
	<script src="../../css/js/jquery-2.1.4.min.js"></script>
	  <!-- jQuery must be imported before materialize -->
	<script src="../../css/js/materialize.min.js"></script>
	<script>
		 $(document).ready(function(){
		   // Activate the side menu 
		   $(".button-collapse").sideNav();
		  });
	</script>

</body>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">Atelier 2</a>
        </div>
      </div>
    </footer>

</html>