<div id="initGame" >
	<p class="col s12 m2 l2">Pseudo :</p>
	<input class="col s12 m10 l10" ng-model="pseudo" required type="text">
	<p class="col s12 m2 l2">Lieu :</p>
	<select class="col s12 m4 l4 dropdown-button btn blue lighten-1" id="serieSel" ng-options="serie.nom for serie in series track by serie.id " ng-model="seriesSel"></select><br>
	<p class="col s12 m2 l2">Difficulté :</p>
	<select class="col s12 m4 l4 dropdown-button btn blue lighten-1" id="niveauSel">
		<option value="1">Niveau 1</option>
		<option value="2">Niveau 2</option>
		<option value="3">Niveau 3</option>
	</select><br><br>
	<button class="btn col s12 m12 l12" ng-click="play()">Jouer !</button>
</div>

<table id="topScore" class="hide">
	<thead>
		<th class="data-field">Nom</th>
		<th class="data-field">Score</th>
	</thead>
	<tbody id="tbody">
		
	</tbody>
</table>
<div class="row hide center" id="endBox">
	<div class="col s12">
		<div class="card amber lighten-2 darken-1">
			<div class="card-content ">
				<span class="card-title">Partie terminée</span>
				<p>Votre score est de:</p>
				<h2 class="center" id="endScore">0</h2>
				<p>Vous etes le : <span id="classement">0</span></p>
			</div>
		</div>
	</div>
</div>
<div ng-click="back()"><p>Retour<p></div>